<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Welcome to the About Page</h1>
    <p>This is a project implemented to develop a new AI model that interacts with real environment.</p>
    <p>The main application is to be integrated with a Jetson Nano</p>
    <p>The goal is to create a navigator, watcher autonomous robot that can be integrated in other scenarios of survaillance</p>
    <h2>Return to home page by clicking the back arrow</h2>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>