<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Start Implementing AI with OpenCV</h1>
    <p>Start the video camera and implement different features</p>
    <button id="startButton" onclick="startVideo()">Start Video</button>
    <script src="{{ url_for('static', filename='script.js') }}"></script>

    <button id="startButton" onclick="takePhoto()">Take Photo</button>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
